@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'MontserratAlternates', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-raleway) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .montserrat-font {
    font-family: var(--font-montserrat);
  }

  .container {
    @apply max-w-full xl:max-w-[1200px] mx-auto mb-[50px] px-[20px] lg:px-[40px]
  }

  .header {
    @apply pt-[25px] lg:pt-[70px]
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .section-name {
    @apply text-primary text-[16px] leading-[19px] mt-[50px] mb-[25px] font-semibold
  }

  .wishlist-card {
    @apply relative flex w-[160px] h-[240px] rounded-[20px]
  }

  .menu-item {
    @apply font-semibold text-light-100 text-[15px] leading-[16px]
  }
}





